<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <ul style="list-style-type:none;">
        <li v-for="(comment,index) in comments">
          <button @click="upVoteFunction(index)">+</button>
          <p>
            {{comment.content}} || {{comment.date}} || score : {{comment.score}}
          </p>
          <button @click="downVoteFunction(index)">-</button>
          <br />
          <br />
        </li>
      </ul>
      <br />
      <textarea
        cols="50"
        rows="10"
        v-model="newComment"
        v-on:keyup.enter="addCommentFunction"
      >
      </textarea>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="assets/js/app.js"></script>
  </body>
</html>
